<!DOCTYPE html>
<html lang="en">
    <body>
            <h1>Welcome to Store!</h1>

            <div>
                {% for order_item in order_items %}
                    <h1>
                        {{order_item.order}}
                    </h1>
                    <h3>
                        product: {{order_item.product}} 
                    </h3>
                    <h3>
                        quantity: {{order_item.quantity}}
                    </h3>
                    <hr>
                {% empty %}
                    <h1>No results</h1>
                {% endfor %}
            </div>
    </body>
</html>